* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
/* color */
:root {
  --brown-1: rgba(66, 61, 60, 100%);
  --brown-2: #383231;
  --brown-3: #2d2726;
  --brown-4: #292424;
  --brown-5: rgba(34, 30, 30, 100%);
  --primary: #f59c5c;
  --primary-light: #f7b687;
  --white: #ffffff;
  --gray: #cbc9c9;
  --accent-light: #659477;
  --accent: #3b8256;
  --accent-dark: #23412f;
  --red: #7e3e3f;
  --burnt-orange: #875c36;
  --teal: #377e86;
}
/* reusable classes */
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
}
.space-btw {
  justify-content: space-between;
}
.space-ard {
  justify-content: space-around;
}
.center {
  justify-content: center;
  align-items: center;
}
/* color classes */
.text-brown-1 {
  color: var(--brown-1);
}
.text-brown-2 {
  color: var(--brown-2);
}
.text-brown-3 {
  color: var(--brown-3);
}
.text-brown-4 {
  color: var(--brown-4);
}
.text-brown-5 {
  color: var(--brown-5);
}
.text-primary {
  color: var(--primary);
}
.text-primary-light {
  color: var(--primary-light);
}
.text-white {
  color: var(--white);
}
.text-gray {
  color: var(--gray);
}
.text-accent-light {
  color: var(--accent-light);
}
.text-accent-dark {
  color: var(--accent-dark);
}
.text-accent {
  color: var(--accent);
}
.text-red {
  color: var(--red);
}
.text-teal {
  color: var(--teal);
}
.text-orange {
  color: var(--burnt-orange);
}
/* texts */
.text-sm {
  font-size: 14px;
}
.text-rg {
  font-size: 16px;
  line-height: 25px;
}
.text-md {
  font-size: clamp(18px, 4vw, 20px);
  line-height: 25px;
}
.text-lg {
  font-size: clamp(20px, 4vw, 24px);
  line-height: 30px;
}
.text-hd {
  font-size: clamp(24px, 4vw, 32px);
}
.text-sh {
  font-size: clamp(36px, 6vw, 48px);
  /* line-height: 55px; */
}
.text-tm {
  font-size: clamp(60px, 8vw, 80px);
}
.text-tl {
  font-size: 120px;
}
/* padding utilities */
.pb-1 {
  padding-bottom: 12px;
}
.pb-2 {
  padding-bottom: 16px;
}
.pb-3 {
  padding-bottom: 24px;
}
.pb-4 {
  padding-bottom: 32px;
}
.pb-5 {
  padding-bottom: 48px;
}
.pb-6 {
  padding-bottom: 60px;
}
.pt-1 {
  padding-top: 12px;
}
.pt-2 {
  padding-top: 16px;
}
.pt-3 {
  padding-top: 24px;
}
.pt-4 {
  padding-top: 32px;
}
.pt-5 {
  padding-top: 48px;
}
.pt-6 {
  padding-top: 60px;
}
/* buttons */
.btn-sm-dark {
  padding: 4px 16px;
  height: 36px;
  border: none;
  background-color: var(--accent);
  color: var(--white);
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
.btn-sm-light {
  width: 114px;
  height: 34px;
  border: none;
  background-color: var(--accent-light);
}
.btn-lg-dark {
  width: 150px;
  height: 38px;
  border: none;
  background-color: var(--accent);
}
.btn-lg-light {
  width: 150px;
  height: 38px;
  border: none;
  background-color: var(--accent-light);
}
.nav-header {
  position: relative;
  background-color: var(--brown-3);
  padding: 16px;
}
.nav-links  {
  display: none;
}
.nav-links.active {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  top: 0;
  right: 0;
  background-color: var(--accent);
  width: 246px;
  height: 274px;
  padding: 32px;
  /* transition: height 0.2s cubic-bezier(0.075, 0.885, 0.32, 1.275); */
  /* overflow: hidden; */
}
.line {
  border: none;
  height: 2px;
  background-color: var(--accent-light);
  width: 100%;
}
.hamburger {
  z-index: 1;
}
.hero-section {
  background-image: url(./images/heroBg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  height: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
}
.hero-text {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.mushroom-box {
  background-color: var(--brown-3);
  padding: 60px 20px;
}
.mushroom-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}
.mushroom-card {
  background-color: var(--brown-2);
  padding: 16px;
  border-radius: 12px;
}
.mushroom-card-img {
  width: 100%;
}
.mushroom-info {
  background-color: var(--brown-5);
  padding: 60px 20px;
}
.mushroom-info-img {
  width: 100%;
  /* max-width: 674px; */
  height: auto;
}
.nature-connect {
  background-color: var(--brown-3);
  padding: 60px 20px;
}
.footer {
  background-color: var(--brown-3);
  text-align: center;
  padding: 30px 0;
}
.foraging-adventure {
  width: 100%;
  height: 335px;
  background-color: var(--accent-dark);
  text-align: center;
  display: none;
}
.foraging-adventure p {
  max-width: 900px;
  margin: 0 auto;
}
@media (min-width: 540px) {
  .hero-section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .mushroom-box {
    padding: 60px 40px;
  }
  .mushroom-info {
    padding: 60px 40px;
  }
  .nature-connect {
    padding: 60px 40px;
  }
  .nav-header {
    padding-left: clamp(16px, 4vw, 48px);
    padding-right: clamp(16px, 4vw, 48px);
  }
}
@media (min-width: 768px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .hamburger {
    display: none;
  }
  .line {
    display: none;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  .nav-links a {
    font-size: 20px;
    color: var(--gray);
  }
.nav-links.active {
  height: 0;
}
}
@media (min-width: 1024px) {
  .mushroom-info {
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .mushroom-info div {
    flex: 1;
  }
  .nature-connect {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  .nature-connect div {
    flex: 1;
  }
  .mushroom-box {
    padding: 60px 150px;
  }
  .foraging-adventure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
