* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
/* color */
:root {
  --brown-1: rgba(66, 61, 60, 100%);
  --brown-2: #383231;
  --brown-3: #2d2726;
  --brown-4: #292424;
  --brown-5: rgba(34, 30, 30, 100%);
  --primary: #f59c5c;
  --primary-light: #f7b687;
  --white: #ffffff;
  --gray: #cbc9c9;
  --accent-light: #659477;
  --accent: #3b8256;
  --accent-dark: #23412f;
  --red: #7e3e3f;
  --burnt-orange: #875c36;
  --teal: #377e86;
}
/* reusable classes */
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
}
.space-btw {
  justify-content: space-between;
}
.space-ard {
  justify-content: space-around;
}
.center {
  justify-content: center;
  align-items: center;
}
/* color classes */
.text-brown-1 {
  color: var(--brown-1);
}
.text-brown-2 {
  color: var(--brown-2);
}
.text-brown-3 {
  color: var(--brown-3);
}
.text-brown-4 {
  color: var(--brown-4);
}
.text-brown-5 {
  color: var(--brown-5);
}
.text-primary {
  color: var(--primary);
}
.text-primary-light {
  color: var(--primary-light);
}
.text-white {
  color: var(--white);
}
.text-gray {
  color: var(--gray);
}
.text-accent-light {
  color: var(--accent-light);
}
.text-accent-dark {
  color: var(--accent-dark);
}
.text-accent {
  color: var(--accent);
}
.text-red {
  color: var(--red);
}
.text-teal {
  color: var(--teal);
}
.text-orange {
  color: var(--burnt-orange);
}
/* texts */
.text-sm {
  font-size: 14px;
}
.text-rg {
  font-size: 16px;
}
.text-md {
  font-size: clamp(18px, 4vw, 20px);
  line-height: 25px;
}
.text-lg {
  font-size: clamp(20px, 4vw, 24px);
}
.text-hd {
  font-size: clamp(24px, 4vw, 32px);
}
.text-sh {
  font-size: clamp(36px, 6vw, 48px);
}
.text-tm {
  font-size: clamp(60px, 8vw, 80px);
}
.text-tl {
  font-size: 120px;
}
/* padding utilities */
.pb-1 {
    padding-bottom: 8px;
}
.pb-2 {
    padding-bottom: 16px;
}
.pb-3 {
    padding-bottom: 20px;
}
.pb-4 {
    padding-bottom: 32px;
}
/* buttons */
.btn-sm-dark {
  width: 114px;
  height: 34px;
  border: none;
  background-color: var(--accent);
}
.btn-sm-light {
  width: 114px;
  height: 34px;
  border: none;
  background-color: var(--accent-light);
}
.btn-lg-dark {
  width: 150px;
  height: 38px;
  border: none;
  background-color: var(--accent);
}
.btn-lg-light {
  width: 150px;
  height: 38px;
  border: none;
  background-color: var(--accent-light);
}
.nav-header {
  position: relative;
  background-color: var(--brown-3);
  padding: 16px;
}
.nav-links {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  top: 0;
  right: 0;
  background-color: var(--accent);
  width: 246px;
  height: 0px;
  transition: height 0.2s cubic-bezier(0.075, 0.885, 0.32, 1.275);
  overflow: hidden;
}
.nav-links.active {
  height: 274px;
  padding: 32px;
}
.line {
  border: none;
  height: 2px;
  background-color: var(--accent-light);
  width: 100%;
}
.hamburger {
  z-index: 1;
}
.hero-section {
    background-image: url(./images/heroBg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
}